
/* Padding below the footer and lighter body text along with body background*/

body 
{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    background-color: #e8a87c;

}

.navbar.navbar-inverse 
{
    border: none;
}
.navbar .navbar-brand 
{
    padding-top: 0px;
}
.navbar .navbar-brand img 
{
    height: 50px;
}
  
.contact-section
{
    margin-top: 50px;
}
.logo-contact
{
    background-color: #332116;
}
  
.section-title
{
    text-align: center;
}
/*THE CAROUSEL-------------------------------------------------- */
  .carousel {
    margin-bottom: 4rem;
  }

/*position and text color*/
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
    color: #17e0c6;
    text-shadow: 2px 2px #000000;
  }
  .btn-primary
  {
      background-color: #e27d60;
      border: none;
      color: black;
      text-shadow: none;
  }
  .btn-primary:hover
  {
      background-color: #e8a87c;
  }

/* Declare heights because of positioning of img element */
.carousel-item 
{
    height: 32rem;
}
.carousel-item > img 
{
    position: absolute;
    object-fit: cover;
    bottom: 0;
    left: 0;
    min-width:100%;
}
  
  
/* MARKETING CONTENT-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 
{
    margin-bottom: 1.5rem;
    text-align: center;
}
.col-md-7 p
{
    color: antiquewhite;
}
span
{
    color: #17e0c6;
    text-shadow: 2px 2px #000000;
}
.col-lg-4 h2
{
color: #17e0c6;
text-shadow: 2px 2px #000000;
}
.marketing h2 
{
    font-weight: 400;
}
.marketing .col-lg-4 p 
{
    margin-right: .75rem;
    margin-left: .75rem;
    color: antiquewhite;
}

/*featured creators profiles*/
.Profile-picture
{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #e2ddd9;
}
  
  
/* Featurettes
------------------------- */ 
.featurette-divider 
{
    margin: 5rem 0;
}
  

.featurette-heading 
{
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
  
  
/* RESPONSIVE CSS-------------------------------------------------- */
@media (min-width: 40em) 
{

    .carousel-caption p 
    {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
  
    .featurette-heading 
    {
        font-size: 50px;
    }
}
  
@media (min-width: 62em) 
{
    .featurette-heading 
    {
        margin-top: 7rem;
    }
}
  
